<%- include('layouts/header')%>

    <body>
        <h1>This is My Home Page</h1>
        <a href="/about-me">Click here to go to About page</a>
        </br>
        <a href="/contact-me">Click here to go to Contact Page</a>

        <img src="/images/nodelogo.png" alt="">
        <%-include ('layouts/footer')%>
    </body>

    </html>